capas/WebContent/wsdl/metodo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://capadeservicios" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://capadeservicios" xmlns:intf="http://capadeservicios" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://capadeservicios" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="listar">
    <complexType>
     <sequence>
      <element name="listar" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listarResponse">
    <complexType>
     <sequence>
      <element name="listarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminarContacto">
    <complexType>
     <sequence>
      <element name="uid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminarContactoResponse">
    <complexType>
     <sequence>
      <element name="eliminarContactoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="agregarContacto">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="apellido" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="agregarContactoResponse">
    <complexType>
     <sequence>
      <element name="agregarContactoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editarContactoServicioWeb">
    <complexType>
     <sequence>
      <element name="uid" type="xsd:int"/>
      <element name="nombre" type="xsd:string"/>
      <element name="apellido" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editarContactoServicioWebResponse">
    <complexType>
     <sequence>
      <element name="editarContactoServicioWebReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="editarContactoServicioWebRequest">

      <wsdl:part element="impl:editarContactoServicioWeb" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="agregarContactoRequest">

      <wsdl:part element="impl:agregarContacto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarRequest">

      <wsdl:part element="impl:listar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="agregarContactoResponse">

      <wsdl:part element="impl:agregarContactoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminarContactoResponse">

      <wsdl:part element="impl:eliminarContactoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarResponse">

      <wsdl:part element="impl:listarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminarContactoRequest">

      <wsdl:part element="impl:eliminarContacto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editarContactoServicioWebResponse">

      <wsdl:part element="impl:editarContactoServicioWebResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="metodo">

      <wsdl:operation name="listar">

         <wsdl:input message="impl:listarRequest" name="listarRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarResponse" name="listarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eliminarContacto">

         <wsdl:input message="impl:eliminarContactoRequest" name="eliminarContactoRequest">

       </wsdl:input>

         <wsdl:output message="impl:eliminarContactoResponse" name="eliminarContactoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="agregarContacto">

         <wsdl:input message="impl:agregarContactoRequest" name="agregarContactoRequest">

       </wsdl:input>

         <wsdl:output message="impl:agregarContactoResponse" name="agregarContactoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editarContactoServicioWeb">

         <wsdl:input message="impl:editarContactoServicioWebRequest" name="editarContactoServicioWebRequest">

       </wsdl:input>

         <wsdl:output message="impl:editarContactoServicioWebResponse" name="editarContactoServicioWebResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="metodoSoapBinding" type="impl:metodo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eliminarContacto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="eliminarContactoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="eliminarContactoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="agregarContacto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="agregarContactoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="agregarContactoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editarContactoServicioWeb">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editarContactoServicioWebRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editarContactoServicioWebResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="metodoService">

      <wsdl:port binding="impl:metodoSoapBinding" name="metodo">

         <wsdlsoap:address location="http://localhost:8080/capas/services/metodo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
